@media only screen and (min-width: 992px) {
  .sde-font {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: white;
    padding-left: 7px;
  }

  .name-style {
    font-family: "Caveat", cursive;
    font-size: 100px;
    color: white;
  }

  .mini-intro {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: white;
    padding-left: 7px;
  }
  .about-title {
    font-family: "Caveat", cursive;
    font-size: 100px;
    color: white;
    border-bottom: 3px solid white;
  }
  .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sde-font {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: white;
  }

  .name-style {
    font-family: "Caveat", cursive;
    font-size: 66px;
    color: white;
  }

  .mini-intro {
    font-family: "Oswald", sans-serif;
    font-size: 26.7px;
    color: white;
    padding-left: 7px;
  }

  .about-title {
    font-family: "Caveat", cursive;
    font-size: 66px;
    color: white;
    border-bottom: 3px solid white;
  }
  #frame{
    position:absolute;
    top:68%;
    left: 7%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {

  #frame{
    position:absolute;
    top:68%;
    left: 7%;
  }
}
